body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FA;
    color: #212529;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-style: italic;
    color: #17d1ff;
    /* space after blog content */
    display: inline-block;
    /* center the link */
}

.container {
    max-width: 800px;
    /* narrower content for readability */
    margin: 0 auto;
    padding: 2em;
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 4px #0D6EFD;
}

.nav-prev {
    margin-top: 2em;
    text-align: left;
}

.bottom-backlink {
    margin-top: 2em;
    text-align: center;
}

.nav-next {
    margin-top: 2em;
    text-align: right;
}

header {
    text-align: center;
    margin-bottom: 2em;
}

.post-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #0D6EFD;
}

.post-title-devblog {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #7e42ee;
}

.post-date {
    font-size: 1em;
    color: #6C757D;
}

.grid-item {
    position: relative;
    display: flex;
    /* to use flex properties for centering */
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
}

.blog-img {
    max-width: 50%;
    /* keep within container */
    height: auto;
    object-fit: cover;
    /* maintain aspect ratio, cover space */
}

.blog-bodycontent {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6C757D;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;     /* align the text */
}

.post-details {
    margin-top: 20px;
    font-size: 0.9em; /* makes the text slightly smaller than the blog body content */
  }
  
  details {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .75em;
    margin-top: 1.5em; /* provides some space from the blog body content */
  }
  
  summary {
    font-weight: 700;
    cursor: pointer;
    color: #0D6EFD; /* matches the color of blog post title */
  }
  
  #creation-details {
    color: #6C757D; /* matches the color of blog post */
  }
  
  ul {
    list-style: disc inside none;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 1em;
  }